.search {
    /* border: 2px solid black; */
    /* margin: 20px; */
    padding: 10px;
  }

h2{
  margin-left: 40px;
  color: 	#696969;
}
select{
  margin-left: 10px;
  background:#fafdfe;  
  height:28px;  
  width:220px;  
  line-height:28px;  
  border:1px solid #9bc0dd;  
  -moz-border-radius:2px;  
  -webkit-border-radius:2px;  
  border-radius:2px;  
}

label{
  font-size: 16px;
  font-weight: bold;
  color:#2F4F4F;
  font-family: 'Microsoft YaHei';
}

.days{
  font-size: 16px;
  font-weight: normal;
  color:#2F4F4F;
  font-family: 'Microsoft YaHei';
}
.search{
  margin-bottom: 30px;
}
.colleft{
  float: left;
  margin-left:170px;
  margin-right: 150px;
}
.colright{
  margin-left: 120px;
  overflow: auto;
}
#result{
  position: absolute;
  left: 20px;
  font-weight: bold;
  font-size:16px;
  display:inline;
}
.course{
  margin-top: 20px;
}
.submit{
    margin-left:240px;
    width: 200px;  
    padding:8px;  
    background-color: #428bca;  
    border-color: #357ebd;  
    color: #fff;  
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px;  
    border-radius: 10px; /* future proofing */  
    -khtml-border-radius: 10px; /* for old Konqueror browsers */  
    text-align: center;  
    vertical-align: middle;  
    border: 1px solid transparent;  
    font-weight: 900;  
    font-size:125%;
    cursor: pointer;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

td,th {
  padding: 0;
  text-align:center;
}

.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial,sans-serif;
  padding: 1em 0;
  text-align: center;
}

.pure-table td,.pure-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.pure-table td {
  background-color: transparent;
}

.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}

.pure-table-bordered tbody>tr:last-child>td {
  border-bottom-width: 0;
}