<body>
  <div class="search-container">
    <h1>Search</h1>

    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="search">
        <label>Subject:</label><br>
        <select formControlName="subject" 
        name="subject" 
        (change)=getSelected($event.target.name,$event)>
          <option ng-model="subject" *ngFor="let x of subject" value="{{x.subject_id}}">
            {{x.subject_value}}
          </option>
        </select><br>
      </div>

      <div class="search">
        <label>Course Suffix:</label><br>
        <select name="designation" (change)=getSelected($event.target.name,$event)>
          <option name="designation" *ngFor="let x of design" value="{{x.Designation_id}}">
            {{x.Designation_value}}
          </option>
        </select><br>
      </div>
      
      <!--<div class="search">
        <label>Course Number:</label><br>
        <input ng-model="codeID" type="text" placeholder="eg. 1001" id="courseCodeId">
        <input value="test" type="button" >
      </div>--> 

      <div class="search">
        <label>Component:</label><br>
        <select name="component" formControlName="component">
          <option *ngFor="let x of component" value="{{x.Component_id}}">
            {{x.Component_value}}
          </option>
        </select><br>
      </div>


      <div class="search">
        <label>Starting Time:</label><br>
        <select name="start_time" formControlName="start_time">
          <option>All</option>
          <option *ngFor="let x of start_time" value="{{x}}">
            {{x}}
          </option>
        </select><br>
      </div>


      <div class="search">
        <label>Ending Time:</label><br>
        <select name="end_time" formControlName="end_time">
          <option>All</option>
          <option *ngFor="let x of end_time" value="{{x}}">
            {{x}}
          </option>
        </select><br>
      </div>


      <div class="search">
        <label>Day of Class:</label><br>
        <label *ngFor="let x of day; let i=index" >
          <input type="checkbox" value="{{x.key}}"
          (change)="getDays($event,i)"/>
            {{x.value}}
        </label>
      </div>

      <div class="search">
        <label>Campus:</label><br>
        <select name="campus" formControlName="campus">
          <option *ngFor="let x of campus" value="{{x.Campus_value}}">
            {{x.Campus_value}}
          </option>
        </select><br>
      </div>

      <div>
        <input type="submit" value="Submit" class="submit"/>
      </div>
    </form>
  </div>
  
  
  <div class="result-container">
    <div class = "row">
      <h3>{{resultLength}} Results</h3>
      <div *ngFor = "let result of courseResult">
          <h4>Class Name: {{result.className}}</h4>
          <p><strong>Course Description:</strong> 
            {{result.catalog_description}}</p>
          <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Class Section</th>
                    <th>Class Number</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Campus</th>
                    <th>Days</th>
                    <th>Instructors</th>
                    <th>Component</th>
                    <th>Enrl_Stat</th>
                    <th>Descr</th>
                </tr>
            </thead>
            <tr>
                <td>{{result.course_info[0].class_section}}</td>
                <td>{{result.course_info[0].class_nbr}}</td>
                <td>{{result.course_info[0].start_time}}</td>
                <td>{{result.course_info[0].end_time}}</td>
                <td>{{result.course_info[0].campus}}</td>
                <td>{{result.course_info[0].days}}</td>
                <td>{{result.course_info[0].instructors}}</td>
                <td>{{result.course_info[0].ssr_component}}</td>
                <td>{{result.course_info[0].enrl_stat}}</td>
                <td>{{result.course_info[0].descr}}</td>
            </tr>
        </table>  
      </div>
    </div>
  </div>
    <!--<div class="search-container1">
      <h2>Search by Subject</h2>
      <form #searchidForm="ngForm" (ngSubmit)="searchidForm.valid && onSubmitID(searchidForm)">
        <div class="search">
          <label>Subject:</label><br>
          <select name="subject" (change)="selectedChangeHandler($event)">
            <option *ngFor="let x of subject" id="{{x.subject_id}}">
              {{x.subject_value}}
            </option>
          </select><br>
          <p><span>You selected:{{selectedSubject_id}}</span></p>
        </div>
        <div>
          <button class="submit" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="result-container1">
      <table>
        <thead>
            <tr>
                <th>course_code_id</th>
                <th>description</th>
            </tr>
        </thead>
            <tr *ngFor = "let codes of _http.courseCodes">
                <td>{{codes.course_code_id}}</td>
                <td>{{codes.description}}</td>
            </tr>
    </table>
    </div>-->
  </body>