<body>
  <div class="search-container">
    <h2>Search</h2>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text">
                <div class="row">
                    <div class="colleft">
                      <div class="search">
                        <label>Subject:</label>
                        <select formControlName="subject" 
                        name="subject" 
                        (change)=getSelected($event.target.name,$event)>
                          <option ng-model="subject" *ngFor="let x of subject" value="{{x.subject_id}}">
                            {{x.subject_value}}
                          </option>
                        </select>
                      </div>

                      <div class="search">
                        <label>Course Number:</label>
                        <input 
                        formControlName = "course_number"
                        name="course_number"                          
                        placeholder="eg. 1001"
                        (change)=getCourse($event.target.name,$event)
                        class = "courseselect">
                      </div>

                      <div class="search">
                        <label>Course Suffix:</label>
                        <select name="designation" (change)=getSelected($event.target.name,$event)>
                          <option name="designation" *ngFor="let x of design" value="{{x.Designation_id}}">
                            {{x.Designation_value}}
                          </option>
                        </select><br>
                      </div>


                      <div class="search">
                      <label>Component:</label>
                      <select name="component" formControlName="component">
                      <option *ngFor="let x of component" value="{{x.Component_id}}">
                          {{x.Component_value}}
                      </option>
                      </select><br>
                      </div>

                      <div class = "search">
                        <input type="checkbox">Show only courses open for registration.
                        <br>
                        *Note:may not be an accurate reflection during paper add/drop
                      </div>
                      
                    </div>                      
                    <div class="colright">
                      <div class="search">
                        <label>Campus:</label>
                        <select name="campus" formControlName="campus">
                          <option *ngFor="let x of campus" value="{{x.Campus_value}}">
                            {{x.Campus_value}}
                          </option>
                        </select><br>
                      </div>
                      <div class="search">
                        <label>Starting Time:</label>
                        <select name="start_time" formControlName="start_time">
                          <option>All</option>
                          <option *ngFor="let x of start_time" value="{{x}}">
                            {{x}}
                          </option>
                        </select><br>
                      </div>
                
                
                      <div class="search">
                        <label>Ending Time:</label>
                        <select name="end_time" formControlName="end_time">
                          <option>All</option>
                          <option *ngFor="let x of end_time" value="{{x}}">
                            {{x}}
                          </option>
                        </select><br>
                      </div>
                
                
                      <div class="search">
                        <label>Day of Class:</label>
                        <label *ngFor="let x of day" >
                          <input
                          type="checkbox" 
                          value="{{x.key}}"
                          checked
                          
                          (change)="getDays($event)"/>
                            {{x.value}}
                        </label>
                      </div>
                
                      <div>
                        <input type="submit" value="Submit" class="submit"/>
                      </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      </form>
  </div>
  <br>
  <div class="result-container" id="result-container">
  
      <div id="result">{{resultLengthStr}}</div>
      <br>
      <br>
      <input type="text" [(ngModel)] = "className" (input) = "Search()" placeholder="Search by Class Name" class="s1" id="s1"/>
      <div *ngFor = "let result of courseResult | paginate:{itemsPerPage:5,currentPage:p}" class="course">
          <h3>Catalog Number:{{result.catalog_nbr}}</h3>
          <h3>Class Name: {{result.className}}</h3>
          <p><strong>Course Description:</strong> 
            {{result.catalog_description}}</p>
          <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Class Section</th>
                    <th>Class Number</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Campus</th>
                    <th>Days</th>
                    <th>Instructors</th>
                    <th>Component</th>
                    <th>Enrollment Status</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{result.course_info[0].class_section}}</td>
                <td>{{result.course_info[0].class_nbr}}</td>
                <td>{{result.course_info[0].start_time}}</td>
                <td>{{result.course_info[0].end_time}}</td>
                <td>{{result.course_info[0].campus}}</td>
                <td>{{result.course_info[0].days}}</td>
                <td>{{result.course_info[0].instructors}}</td>
                <td>{{result.course_info[0].ssr_component}}</td>
                <td>{{result.course_info[0].enrl_stat}}</td>
                <td>{{result.course_info[0].descr}}</td>
            </tr>
          </tbody>
        </table>  
      </div>
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
</body>