<header>
  <div class="covidresponse">
      <h3><a href="https://www.uwo.ca/coronavirus/">COVID-19 Information website of Western University</a> for information on our response to the pandemic.</h3>
  </div>
  <div class="container">
    <a class="logo">
      <img src="../assets/img/Western_Logo.jpg">
      <strong>Undergraduate</strong><br>
      <!-- <strong class="term">Fall/Winter Academic Timetable 2020/2021</strong>--></a>
  </div>
  <div class="infomation">
    <h2>Fall 2020 Schedules</h2>
    <h3 class="online">All fall courses will be delivered online until furture notice.</h3>
    <p>
      Individual instructors will specify if and when a componnent of the course will take place synchronously per the published class schedule.
    </p>
  </div>


</header>
<div class="content">
  <app-search></app-search>
</div>
<div class="footer">
  foor
</div>

